type adspd_data_file, file_type, data_file_type;
type battery_data_file, file_type, data_file_type;
type camera_dump_data_file, file_type, data_file_type;
type cutback_data_file, file_type, data_file_type;
type fsg_file, file_type, data_file_type;
type hwrev_data_file, file_type, data_file_type;
type pds_file, file_type;
type sysfs_adspd, sysfs_type, fs_type;
type sysfs_input, sysfs_type, fs_type;
type sysfs_light, dev_type, file_type, sysfs_type;
type wapi_supplicant_data_file, file_type, data_file_type;
type fsg_firmware_file, file_type, vendor_file_type, contextmount_type;

# Contexts for misc sysfs nodes
type sysfs_virt_diag, sysfs_type, fs_type;
type sysfs_bms, sysfs_type, fs_type;
type sysfs_irq_debug, sysfs_type, fs_type;
type sysfs_dwc_param, sysfs_type, fs_type;
type sysfs_hci_param, sysfs_type, fs_type;
type proc_swap, fs_type;
type sysfs_msm_subsys, sysfs_type, fs_type;
type sysfs_timekeep, fs_type, sysfs_type;
