type adspd_data_file, file_type, data_file_type;
type battery_data_file, file_type, data_file_type;
type camera_dump_data_file, file_type, data_file_type;
type display_sysfs, sysfs_type, file_type;
type fsg_file, file_type, data_file_type;
type sysfs_adspd, sysfs_type, fs_type;
type vibeamp_sysfs, sysfs_type, file_type;
type wapi_supplicant_data_file, file_type, data_file_type;
