allow init adspd_data_file:sock_file create;
allow init block_device:blk_file setattr;
allow init fsg_file:filesystem { relabelfrom relabelto mount };
allow init hob_block_device:blk_file setattr;
allow init fuse:dir { relabelfrom read };
allow init fuse:file getattr;
allow init pds_file:lnk_file read;
allow init rootfs:lnk_file relabelfrom;
allow init sysfs_battery_supply:lnk_file read;
allow init sysfs_light:file setattr;
allow init sysfs_power:file setattr;

allow init self:socket read;

allow init sysfs_devfreq:file rw_file_perms;
allow init sysfs_devices_system_cpu:file rw_file_perms;
allow init sysfs_msm_perf:file rw_file_perms;
allow init sysfs_msm_power:file rw_file_perms;
allow init sysfs_poweron_alarm:file rw_file_perms;
allow init sysfs_thermal:file rw_file_perms;
allow init sysfs_cpu_boost:file { rw_file_perms setattr };
allow init sysfs_devfreq:file rw_file_perms;
allow init sysfs_kgsl:file rw_file_perms;
allow init sysfs_adspd:file { rw_file_perms setattr };
allow init sysfs_lowmemorykiller:file rw_file_perms;
allow init sysfs_wlan_fwpath:file { rw_file_perms setattr };
allow init sysfs_graphics:file { setattr };

# Misc sysfs nodes
allow init sysfs_virt_diag:file { rw_file_perms setattr };
allow init sysfs_graphics:file { setattr };
allow init sysfs_bms:file { setattr };
allow init sysfs_irq_debug:file { rw_file_perms };
allow init sysfs_dwc_param:file { rw_file_perms setattr };
allow init sysfs_hci_param:file { setattr };

# For setting /proc/sys/vm/swappiness
allow init proc:file { w_file_perms };


#Give all untill we add all paths to "genfs_contexts"
allow init sysfs:file create_file_perms;
allow init sysfs:dir create_dir_perms;
