allow init adspd_data_file:sock_file create;
allow init block_device:blk_file setattr;
allow init fsg_file:filesystem { relabelfrom relabelto mount };
allow init hob_block_device:blk_file setattr;
allow init fuse:dir { relabelfrom read };
allow init fuse:file getattr;
allow init sysfs_battery_supply:lnk_file read;
allow init sysfs_light:file setattr;
allow init sysfs_power:file setattr;

allow init self:socket read;
