allow init atvc:file x_file_perms;
allow init block_device:blk_file setattr;
allow init fsg_file:filesystem { relabelfrom relabelto mount };
allow init hob_block_device:blk_file setattr;
allow init utags_block_device:blk_file setattr;
allow init fuse:dir { relabelfrom read };
allow init fuse:file getattr;
