allow mediaserver adspd:unix_stream_socket connectto;
allow mediaserver adspd_data_file:sock_file rw_file_perms;
allow mediaserver firmware_file:dir search;
allow mediaserver firmware_file:file r_file_perms;
allow mediaserver rild_socket:sock_file write;
allow mediaserver socket_device:sock_file write;
