binder_use(mm-qcamerad);
binder_call(mm-qcamerad, servicemanager);
binder_call(mm-qcamerad, system_server);
allow mm-qcamerad mpdecision:unix_stream_socket connectto;
allow mm-qcamerad camera_socket:sock_file { create unlink };
allow mm-qcamerad socket_device:sock_file write;
allow mm-qcamerad system_data_file:dir { add_name remove_name write };
allow mm-qcamerad system_file:file execmod;
allow mm-qcamerad system_server:unix_stream_socket rw_socket_perms;
allow mm-qcamerad vendor_file:file execmod;
allow mm-qcamerad system_lib_file:file execmod;
allow mm-qcamerad mpctl_socket:dir search;
