type mmi-touch-sh, domain;
type mmi-touch-sh_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(mmi-touch-sh)

# Shell script needs to execute /vendor/bin/sh
allow mmi-touch-sh vendor_shell_exec:file rx_file_perms;
allow mmi-touch-sh vendor_toolbox_exec:file rx_file_perms;

# Logs to /dev/kmsg
allow mmi-touch-sh kmsg_device:chr_file w_file_perms;

# Set the prop property
set_prop(mmi-touch-sh, system_prop)
set_prop(mmi-touch-sh, hw_rev_prop)

allow mmi-touch-sh firmware_file:dir r_dir_perms;
allow mmi-touch-sh firmware_file:file r_file_perms;
allow mmi-touch-sh sysfs:dir { open read };
allow mmi-touch-sh sysfs:file { getattr open read };
allow mmi-touch-sh toolbox_exec:file { execute execute_no_trans getattr open read };
