allow mpdecision self:capability sys_nice;

allow mpdecision socket_device:dir w_dir_perms;
allow mpdecision socket_device:sock_file create_file_perms;

allow mpdecision system_data_file:file create_file_perms;
# mpdecision creates /data/system/default_values
allow mpdecision system_data_file:dir w_dir_perms;
