allow mpdecision self:capability sys_nice;

allow mpdecision socket_device:dir { add_name write };
allow mpdecision socket_device:sock_file { write create setattr };

allow mpdecision system_data_file:file { open append };
# mpdecision creates /data/system/default_values
allow mpdecision system_data_file:dir { write add_name };
allow mpdecision system_data_file:file create;
