allow qti_init_shell hwrev_data_file:dir { rw_dir_perms setattr };
allow qti_init_shell hwrev_data_file:file { create_file_perms w_file_perms };
set_prop(qti_init_shell, mmi_prop)

# To allow error messages to be logged
allow qti_init_shell kmsg_device:chr_file w_file_perms;

allow qti_init_shell btnvtool_exec:file getattr;
