allow rild cutback_data_file:dir rw_dir_perms;
allow rild cutback_data_file:sock_file create_file_perms;
allow rild sysfs_battery_supply:dir search;
allow rild sysfs_battery_supply:file r_file_perms;
allow rild sysfs_usb_supply:dir search;
allow rild sysfs_usb_supply:file r_file_perms;
allow rild sysfs_thermal:dir search;
allow rild sysfs_thermal:file r_file_perms;
allow rild system_data_file:sock_file { create unlink setattr };
allow rild wifi_data_file:dir { search r_file_perms };
allow rild wifi_data_file:file { r_file_perms };

allow rild wpa_socket:sock_file write;
allow rild hal_wifi_supplicant_default:unix_dgram_socket sendto;

allow rild self:capability dac_override;

allow rild vendor_file:file execute_no_trans;
allow rild system_file:file execute_no_trans;

allow rild proc:file r_file_perms;
