type stm401, domain;
type stm401_exec, exec_type, file_type;
init_daemon_domain(stm401)

allow stm401 sensors_device:chr_file rw_file_perms;
allow stm401 system_prop:property_service set;

unix_socket_connect(stm401, property, init)
allow stm401 property_socket:sock_file write;
