allow thermal-engine sysfs_battery_supply:dir search;
allow thermal-engine sysfs_battery_supply:file r_file_perms;
allow thermal-engine sysfs_battery_supply:lnk_file read;
