allow wpa cutback_data_file:dir search;
allow wpa init:unix_dgram_socket sendto;
allow wpa rild:unix_dgram_socket sendto;
allow wpa system_data_file:sock_file write;
