# Moto USB configuration
import init.mmi.usb.rc

on early-init
    # Set boot up stage I/O scheduler
    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/mmcblk0/queue/read_ahead_kb 512

    # Create modem FSG mount point
    mkdir /fsg 755 root root

    chown system system /sys/kernel/debug
    chmod 0770 /sys/kernel/debug

on init
    copy /module_hashes /sys/kernel/module_whitelist

    # Configure coredump
    write /proc/sys/kernel/core_pattern "|/system/bin/coredump %e %p %t"
    write /proc/self/coredump_filter "0x7f"

    # Setup kernel dropbox permissions so that dropboxd can utilize it
    chown root diag /sys/kernel/dropbox/event
    chown root diag /sys/kernel/dropbox/data

    # ESDFS
    chown oem_5016 root /proc/fs/esdfs/packages

on post-fs-data
    # Trigger the defuse tool
    setprop installd.post_fs_data_ready 1

    # Permissions for Factory Test of Charging Paths
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_auto_enable
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_ibatt
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_itrick
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_iusb
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_usb_suspend
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_fail_clear
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_usb_otg_ctl

   # Setup correct permissions for dbvc and atvc
    mkdir /data/local/dbvc 0750 oem_5004 shell
    mkdir /data/local/atvc 0775 oem_5004 shell

   # Create moodle directory that MOODLE APP can write to
    mkdir /data/local/moodle 0770 graphics oem_5004

    # Setup folders for diag_mdlog
    mkdir /data/diag_mdlog 0750 system log
    mkdir /data/diag_mdlog/logs 0750 log log

    # Setup folder for native to transfer data to NativeDropBoxAgent
    mkdir /data/system/dropbox-add 0730 system diag

    # Setup folder for camera HAL subsystem
    mkdir /data/camera_dump 0750 media media

    #Subsystem RAM-dumps
    mkdir /data/ss-ram-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/bp-dumps 0750 radio log
    mkdir /data/ss-ram-dumps/riva-dumps 0750 radio log

    # Create directory for cutback
    mkdir /data/misc/cutback 0770 radio wifi

    #setup folder for WLAN WAPI
    mkdir /data/wapi_certificate 0750 system wifi
    chown system wifi /data/wapi_certificate

    # Create directory used by power_supply_logger
    mkdir /data/power_supply_logger 0750 oem_5001 log

    # Permissions for battery health daemon
    chown oem_5001 oem_5001 /sys/module/qpnp_bms/parameters/last_ocv_uv
    chown oem_5001 oem_5001 /sys/module/qpnp_charger/parameters/bms_chrg_capacity
    chown oem_5001 oem_5001 /sys/module/qpnp_charger/parameters/bms_chrg_capacity_temp
    chown oem_5001 oem_5001 /sys/module/qpnp_charger/parameters/chrg_timestamp

    start hvdcp

on post-fs

service hvdcp /system/vendor/bin/hvdcp
    class main
    user root

service thermal-com /vendor/bin/thermal-engine --minimode
    class main
    user root
    disabled

#start Sensor daemon
service stm401 /system/bin/stm401 boot
    disabled
    user compass
    group compass misc input
    oneshot

on property:hw.touch.ready=1
    start stm401

on boot
    # Change ownership and permission for vibrator
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0660 /sys/class/timed_output/vibrator/enable

    # initialize kernel dynamic debugging settings
    copy /system/etc/debug_control.conf /sys/kernel/debug/dynamic_debug/control

    # Setup folder for aplogd
    mkdir /data/aplogd 0750 log log

    # Change the ownership of display TE files for tcmds
    chown root oem_5004 /sys/class/graphics/fb0/te_enable
    chown root oem_5004 /sys/class/graphics/fb0/frame_counter

    # Change ownership for HBM control
    chown system system /sys/class/graphics/fb0/hbm

    # STM401 driver parameter permissions
    chown root oem_5004 /sys/module/stm401/parameters/irq_disable
    chmod 0660 /sys/module/stm401/parameters/irq_disable

    # Change ownership and permission for led
    chown system system /sys/class/leds/led:flash_0/brightness
    chown system system /sys/class/leds/charging/brightness
    chmod 0664 /sys/class/leds/led:flash_0/brightness
    chmod 0664 /sys/class/leds/charging/brightness
    chmod 0664 /sys/class/leds/lcd-backlight/brightness

    # Optimize TCP parameters for QCOM-8974 products with LTE support
    # This init file will override the values defined in init.rc file.
    # Carrier specific init.<carrier>.rc file will override this file.
    # ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 131072,262144,1048576,4096,16384,262144
    setprop net.tcp.buffersize.wifi 131072,262144,3145728,4096,221184,3145728
    setprop net.tcp.buffersize.umts 131072,262144,1452032,4096,16384,399360
    setprop net.tcp.buffersize.edge 16384,32768,131072,4096,16384,65536
    setprop net.tcp.buffersize.gprs 4096,8192,24576,4096,8192,24576
    setprop net.tcp.buffersize.hspa 131072,262144,2441216,4096,16384,399360
    setprop net.tcp.buffersize.hsdpa 131072,262144,2441216,4096,16384,399360
    setprop net.tcp.buffersize.hsupa 131072,262144,2441216,4096,16384,399360
    setprop net.tcp.buffersize.hspap 131072,262144,2441216,4096,16384,399360
    setprop net.tcp.buffersize.lte  524288,1048576,8388608,262144,524288,4194304
    setprop net.tcp.buffersize.cdma   4096,12288,49152,4096,12288,49152
    setprop net.tcp.buffersize.1xrtt  16384,32768,131072,4096,16384,102400
    setprop net.tcp.buffersize.evdo   16384,32768,131072,4096,16384,102400
    setprop net.tcp.buffersize.ehrpd  131072,262144,1048576,4096,16384,524288
    setprop net.tcp.buffersize.evdo_b 131072,262144,1048576,4096,16384,524288
    setprop net.tcp.buffersize.2ghotspot     4096,16384,65536,16384,32768,131072
    setprop net.tcp.buffersize.2ghotspot2    4096,16384,102400,16384,32768,131072
    setprop net.tcp.buffersize.3ghotspot     4096,16384,399360,131072,262144,2441216
    setprop net.tcp.buffersize.3ghotspot2    4096,16384,524288,131072,262144,1048576
    setprop net.tcp.buffersize.4ghotspot     262144,524288,4194304,524288,1048576,8388608

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

    # create the necessary data dirs for tpapi with proper permission
    mkdir /dev/tpapi 02770 oem_5007 oem_5007
    mkdir /data/tpapi 02770 oem_5007 oem_5007
    mkdir /data/tpapi/etc 02770 oem_5007 oem_5007
    mkdir /data/tpapi/etc/tpa 02770 oem_5007 oem_5007
    mkdir /data/tpapi/etc/tpa/persistent 02770 oem_5007 oem_5007

    # Force all SSR systems to 'related' so they attempt self-recovery without
    # rebooting the device
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related
    write /sys/bus/msm_subsys/devices/subsys1/restart_level related
    write /sys/bus/msm_subsys/devices/subsys2/restart_level related
    write /sys/bus/msm_subsys/devices/subsys3/restart_level related

    # Audio DSP permissions
    chown audio audio /dev/ttyHS3
    chown audio audio /sys/devices/c55_ctrl/gpio_ap_int/edge
    chown audio audio /sys/devices/c55_ctrl/gpio_ap_int/value
    chown audio audio /sys/devices/c55_ctrl/gpio_c55_int/value
    chown audio audio /sys/devices/c55_ctrl/gpio_core/value
    chown audio audio /sys/devices/c55_ctrl/gpio_reset/value
    mkdir /data/adspd/ 0770 audio diag

    # ACDB file path
    setprop persist.audio.calfile0 /etc/acdbdata/${ro.hw.device}/${ro.hw.device}_Bluetooth_cal.acdb
    setprop persist.audio.calfile1 /etc/acdbdata/${ro.hw.device}/${ro.hw.device}_General_cal.acdb
    setprop persist.audio.calfile2 /etc/acdbdata/${ro.hw.device}/${ro.hw.device}_Global_cal.acdb
    setprop persist.audio.calfile3 /etc/acdbdata/${ro.hw.device}/${ro.hw.device}_Handset_cal.acdb
    setprop persist.audio.calfile4 /etc/acdbdata/${ro.hw.device}/${ro.hw.device}_Hdmi_cal.acdb
    setprop persist.audio.calfile5 /etc/acdbdata/${ro.hw.device}/${ro.hw.device}_Headset_cal.acdb
    setprop persist.audio.calfile6 /etc/acdbdata/${ro.hw.device}/${ro.hw.device}_Speaker_cal.acdb

    # Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

service adspd /system/vendor/bin/adspd /dev/ttyHS3
    class main
    socket adspdsock stream 0660 system audio
    user audio
    group audio input diag

service ftmipcd /system/bin/ftmipcd
    user radio
    group radio inet oem_2950
    disabled
    oneshot

on property:ro.bootmode=mot-factory
    start ftmipcd

# Power up to suspend
on property:tcmd.suspend=1
    stop surfaceflinger
    stop zygote
    setprop debug.sf.nobootanimation 1

# Normal to suspend
on property:tcmd.suspend=2
    stop surfaceflinger
    stop zygote
    setprop debug.sf.nobootanimation 1

service tcmd /system/bin/tcmd
    class core
    group oem_5004 radio oem_5001 input system log camera graphics oem_5000 sdcard_r sdcard_rw audio inet bluetooth wifi compass net_bt_admin oem_9006 oem_5007 mount net_raw net_admin media shell oem_9002 nfc fm_radio qcom_diag oem_5014 cache media_rw
    socket local_tcmd stream 0660 oem_5004 oem_5004
    socket batch_socket stream 0600 oem_5004 oem_5004
    oneshot
    disabled

service tcmdhelp /system/bin/tcmdhelp
    class main
    socket tcmdhelp stream 0600 oem_5004 oem_5004
    oneshot
    disabled

on property:tcmd.start_tcmdhelp=1
    start tcmdhelp

on property:persist.mot.demo_mode_charging=1
    write /sys/class/power_supply/battery/device/force_demo_mode 1

on property:persist.log.aplogd.enable=1
    start aplogd

on property:persist.log.aplogd.enable=0
    stop aplogd

service aplogd /system/bin/aplogd
    class main
    #user log
    #group log system sdcard_rw sdcard_r media_rw mount
    # The user and group definitions above are intentionally disabled and left
    # only as documentation. It actually starts as root and immediately drops
    # to log plus those groups after preserving CAP_SYS_ADMIN, which is required
    # for kernel logging.
    disabled

service mmi-radio-sh /vendor/bin/init.mmi.radio.sh
    class core
    user radio
    group radio
    oneshot

on property:persist.sys.diag_mdlog.on=1
    start diag_mdlog

on property:persist.sys.diag_mdlog.on=0
    stop diag_mdlog

on property:log.diag_mdlog.invld_mode_stop=1
    stop diag_mdlog

service diag_mdlog /system/bin/diag_mdlog-wrap
    class main
    socket mdlog_cmd stream 0660 system diag
    user log
    group log sdcard_rw sdcard_r media_rw qcom_diag
    disabled

service dropboxd /system/bin/dropboxd
    class late_start
    user diag
    group diag

on property:sys.boot_completed=1
    setprop sys.io.scheduler bfq

service mmi-boot-sh /vendor/bin/init.mmi.boot.sh
    class core
    user root
    oneshot

service mmi-touch-sh /vendor/bin/init.mmi.touch.sh atmel
    disabled
    user root
    oneshot

on property:hw.aov.c55_ready=1
    start mmi-touch-sh

on property:ro.secure=0
    # disable dmesg restrict for insecure builds
    write /proc/sys/kernel/dmesg_restrict 0

on property:ro.debuggable=1
    # disable dmesg restrict in eng/userdebug build
    write /proc/sys/kernel/dmesg_restrict 0
    # enable group read/write to /dev/log/kernel
    chmod 0660 /dev/log/kernel
    # debugfs
    chmod 0775 /sys/kernel/debug

service mbm_spy /system/bin/mbm_spy
    class late_start
    user system
    group system
    oneshot

service atvc_core /vendor/bin/dbvc_atvc_property_set
   class core
   user oem_5012
   group oem_5007
   oneshot

service atvc /vendor/bin/dbvc_atvc_property_set
   class late_start
   user oem_5012
   group oem_5007
   oneshot

service qe /xbin/qe /system
   class main
   oneshot
   disabled

service qe_broadcast /xbin/qe /system -b
   class main
   oneshot
   disabled

on property:persist.qe.trigger=1
   start qe_broadcast

service ss_rdump /system/bin/subsystem_ramdump 1 0
   class late_start
   user radio
   group log sdcard_rw sdcard_r diag

on property:persist.sys.qc.sub.rdump.on=*
   write /sys/module/subsystem_restart/parameters/enable_ramdumps ${persist.sys.qc.sub.rdump.on}

service esdpll /system/bin/esdpll -w
    user oem_5016
    group oem_5016 package_info
    disabled

on property:service.bootanim.exit=1
    trigger enable-low-power
